<div class="search-box">
    <input type="text" [(ngModel)]="search" placeholder="Search">
    <button (click)="page=1; searchUsers()">Go</button>
</div>
<span *ngIf="searchResult.length">{{total_results}} Users</span>

<p *ngIf="!total_pages">Nothing to show</p>
<!-- items being paged -->
<app-list-item *ngFor="let item of searchResult" [user]="item"></app-list-item>

<!-- pager -->
<ul *ngIf="total_pages" class="pagination">
    <li>
        <button [disabled]="page === 1" (click)="page=1; searchUsers()">First</button>
    </li>
    <li>
        <button [disabled]="page === 1" (click)="prev()">Previous</button>
    </li>
    <li>{{page}} / {{total_pages}}</li>
    <li>
        <button [disabled]="page === 34" (click)="next()">Next</button>
    </li>
    <li>
        <button [disabled]="page === 34" (click)="page=34; searchUsers()">Last</button>
    </li>
</ul>