<div class="search-box">
    <label>Search</label>
    <input type="text" [(ngModel)]="search" placeholder="Search">
    <button (click)="page=1; searchUsers()">Go</button>
    <span class="badge">Total : {{total_results}} </span>
</div>



<p *ngIf="total_pages">Nothing to show</p>
<!-- items being paged -->
<div *ngFor="let item of searchResult" class="item">
    <img src="{{item.avatar_url}}" alt="avatar">
    <a href="{{item.html_url}}">
        <h4>{{item.login | uppercase}}</h4>
    </a>
</div>

<!-- pager -->
<ul *ngIf="total_pages" class="pagination">
    <li>
        <button [disabled]="page === 1" (click)="page=1; searchUsers()">First</button>
    </li>
    <li>
        <button [disabled]="page === 1" (click)="prev()">Previous</button>
    </li>
    <li>{{page}} / {{total_pages}}</li>
    <li>
        <button [disabled]="page === total_pages" (click)="next()">Next</button>
    </li>
    <li>
        <button [disabled]="page === total_pages" (click)="page=total_pages; searchUsers()">Last</button>
    </li>
</ul>